{% extends 'adminbase.html' %}
{% block title %}
    管理员登录
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}
{% block main %}
    <h3 class="page-title">删除数据</h3>
    <form action="" method="POST">
        <div class="form-container">
            <div class="form-group">
                 <label for="exampleInputEmail1">电影名称</label>
                <input type="text" class="form-control" placeholder="电影名称" name="title">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
{% endblock %}