{% extends 'base.html' %}

{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block main %}
    <ul class="question-list-group">
        {% for question in questions %}
            <li>
                <div class="avater-group">
                    <img src="{{ url_for('static',filename='images/'+question.author.icon) }}" alt="" class="avatar">
                </div>
                <div class="question-group">
                    <p class="question-title">
                        <a href="#">
                         {{ question.title }}
                    </a>
                    </p>
                    <p class="question-content">
                        {{ question.content }}
                    </p>
                    <div class="question-info">
                        <span class="question-author">发布者：{{ question.author.username }}</span>
                        <span class="question-time">时间：{{ question.create_time }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}